__pycache__
__pycache__/*
.langchain_caching.db
venv/
temp/
config.py
primitives/config.py
.env
config_cluster.py
Optuna_results/*
Optuna_db/*
functions/*.py
.idea
prompts/IR_CPS_TechSynthesis/xp_*
websocket*.txt
mvenv/

.venv/

BIBLIO-TEST/
report_outputs/
pkl_cache/

websocketdata*
AgentLaboratory/
composio/
goto_output/