__pycache__
__pycache__/*
.langchain_caching.db
venv/
temp/
config.py
primitives/config.py
.env
config_cluster.py
Optuna_results/*
Optuna_db/*
functions/*.py
.idea
prompts/IR_CPS_TechSynthesis/xp_*
websocket*.txt
mvenv/

.venv/
.DS_Store

BIBLIO-TEST/
report_outputs/
pkl_cache/

JupyterDocUI/
websocketdata*
AgentLaboratory/
composio/
AI-Scientist-v2/
storm/
.vscode/
goto_output/
AI-Scientist-v2/