gitpython

# OpenAI and tokenization
openai~=1.43.0
tiktoken~=0.7.0

# Core utilities
requests~=2.31.0
psutil
httpx
PyPDF2
pydantic~=2.8.2
watchdog
PyYAML~=6.0.1
python-dotenv~=1.0.1
scipy==1.13.1

# Transformers and ML-related libraries
transformers
torch
sentence-transformers
scikit-learn~=1.5.1
numpy~=1.26.4
optuna~=3.6.1
einops
pandas~=2.2.2
seaborn

# Web scraping and APIs
wikipedia-api
wikipedia
arxiv
bs4~=0.0.2
beautifulsoup4~=4.12.3

# Parsing and NLP
pyparsing
spacy
nltk
feedparser

# Web development
flask
flask_cors
websockets~=11.0.3

# Elasticsearch
elasticsearch~=8.10.1

# Neo4j for graph database
neo4j~=5.24.0

# Jupyter and IPython tools
ipywidgets 
IPython
ipykernel
jupyter_client
nbformat 

# LLaMA index and embeddings
llama-index==0.11.12
llama-index-llms-ollama==0.3.2
llama-index-embeddings-ollama==0.3.1

#config
Jinja2 
fastapi 
aiohttp 
starlette 
nest-asyncio 


datasets
python-git

gitpython

langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-experimental==0.3.2
langchain-groq==0.2.0
langchain-openai==0.2.2
langchain-text-splitters==0.3.0
langgraph==0.2.35
langgraph-checkpoint==2.0.1
langsmith==0.1.133

# LLM APIs
anthropic
aider-chat
backoff

# Viz
matplotlib
pypdf
pymupdf4llm

# Common Requirements
wandb
tqdm
